html, body {
    min-height: 100vh;
    background: rgb(19, 23, 28);
    color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
}
h1 {
    font-weight:700;
}